<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <PurchaseForm title="Kaufen"/>
    <WalletList title="Wallet-List"></WalletList>
    <CreateWallet title="Neue Wallet anlegen"></CreateWallet>
  </div>
</template>

<script>
import WalletList from "@/components/WalletList";
import PurchaseForm from "@/components/PurchaseForm";
import CreateWallet from "@/components/CreateWallet";

export default {
  name: 'AppDisplay',
  components: {CreateWallet, PurchaseForm, WalletList},
  props: {
    msg: String,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
