<template>
  <div class="form">
    <h2>{{ title }}</h2>
    <form v-on:submit.prevent="submitForm">

      <label for="wName">Wallet-Bezeichnung</label>
      <input type="text" id="wName" v-model="form.wName"/>
      <br>
      <label for="wCurrency">Cryptowährung</label>
      <select id="wCurrency" v-model="form.wCurrency">
        <option v-for="(currency, index) in prices" :key="index">{{ index }}</option>
      </select>
      <br>
      <input class="button" type="submit" value="Anlegen"/>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: "CreateWallet",
  props: {
    title: String,
  },
  data() {
    return {
      form: {
        wName: '',
        wCurrency: ''
      },
      prices: []
    }
  },
  created() {
    axios.get("https://api.bitpanda.com/v1/ticker")
        .then(response => this.prices = response.data)
  },
  methods: {
    submitForm() {
      if (this.form.wName === "" || this.form.wCurrency === "") {
        alert("Unvollständige Daten.");
    } else {
        axios
            .post('http://localhost/vue-demo/server/api/wallet', this.form)
            .then(response => console.log(response.data))
            .catch(err => console.log(err.response))
        window.location.reload();
      }
    }
  }
}
</script>

<style scoped>
.form {
  float: left;
  margin-left: 10%;
}
</style>