<template>
  <div class="form">
    <h2>{{ title }}</h2>
<!--    insert into tbl_detail -->
    <form v-on:submit.prevent="submitForm">
      <label for="wallet">Wallet</label>
      <select v-model="form.wId" id="wallet" @change="updateWallet($event)">
        <option v-for="(wallet, index) in wallets" :key="index" v-bind:value="wallet.wId" >
          {{ wallet.wName }} ({{ wallet.wCurrency }})
        </option>
      </select><br>
      <label for="currency">Währung</label>
      <select v-model="form.dPrice" id="currency" @change="updateCurrency($event); calcTotalPrice">
        <option v-for="(currency, index) in prices" :key="index" v-bind:value="currency.EUR">
          {{ index }} ({{ currency.EUR }})</option>
      </select><br>
      <label for="amount">Betrag</label>
      <input type="number" step="any" id="amount" v-model="form.dAmount" @change="calcTotalPrice"/>
      <p>Gesamtwert: {{ totalSum }} Euro</p>
      <input class="button" type="submit" value="Kaufen" @click="clicked"/>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "PurchaseForm",
  props: {
    title: String
  },
  data() {
    return {
      form: {
        wId: 0,
        dAmount: 0.0,
        dPrice: 0.0,
        dDate: new Date()
      },
      prices: [],
      wallets: [],
      selectedWallet: '',
      selectedCurrency: '',
      totalSum: 0.0
    }
  },
  created() {
    axios.get("https://api.bitpanda.com/v1/ticker")
        .then(response => this.prices = response.data)
    axios.get(`http://localhost/vue-demo/server/api/wallet`)
        .then(response => this.wallets = response.data)
  },
  methods: {
    submitForm() {
      if(this.form.wId === '' || this.form.dAmount === 0 || this.form.dPrice === 0 || this.form.dDate === '') {
        alert("Unvollständige Daten!")
      } else {
      axios
          .post('http://localhost/vue-demo/server/api/purchase', this.form)
          .then(response => console.log(response.data))
          .catch(err => console.log(err.response));
      window.location.reload();
      }
    },
    updateWallet(event) {
      console.log("Wallet: " + event.target.value);
      this.selectedWallet = event.target.value;
    },
    updateCurrency(event) {
      console.log("Currency: " + event.target.value);
      this.selectedCurrency = event.target.value;
    },
    clicked() {
      console.log("clicked");
    },
    calcTotalPrice() {
      let sum = this.selectedCurrency*this.form.dAmount;
      console.log(sum);
      this.totalSum = sum.toFixed(2);
    }
  }
}
</script>

<style scoped>
.form {
  float: left;
  margin-left: 10%;
}
</style>