<template>
  <div class="form">
    <h2> {{ title }}</h2>
    <div class="container">
      <h3>Verfügbare Wallets</h3>
      <ul>
        <li v-for="(wallet) in wallets" :key="wallet.wId">{{ wallet.wName }} ({{ wallet.wCurrency }})</li>
      </ul>
    </div>
    <br>
    <div class="container">
      <h3>Aktuelles Guthaben:  EUR {{ getTotal() }}</h3>
      <ul>
        <li v-for="(detail) in purchase" :key="detail.wId"> {{ detail.wName }}: EUR {{ getSumPerWallet(detail.wId) }} ({{ detail.dAmount }} {{ detail.wCurrency }})</li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'WalletList',
  props: {
    title: String
  },
  data() {
    return {
      wallets: [],
      purchase: [],
      details: [],
      sum: 0
    }
  },
  created() {
    axios.get(`http://localhost/vue-demo/server/api/wallet`)
        .then(response => this.wallets = response.data)
    axios.get(`http://localhost/vue-demo/server/api/detail`)
        .then(response => this.details = response.data);
    axios.get("http://localhost/vue-demo/server/api/purchase/")
        .then(response => this.purchase = response.data);
  },
  methods: {
    getSumPerWallet(id) {
      let l = this.purchase.length;
      console.log("purchase-length " + l)
      let sum = 0;
      for (let i = 0; i < l; i++) {
        console.log("entering loop with i=" + i + " and wallet-id " + id)
        console.log("purchase.wId = " + this.purchase[i].wId)
        if(id === this.purchase[i].wId) {
          console.log("id's match")
          sum = sum + parseFloat(this.purchase[i].sum);
        }
      }
      console.log("Summe: " + sum);
      return sum.toFixed(2);
    },
    getTotal() {
      let total = 0;
      total = parseFloat(this.details.sum);
      if(isNaN(total)) {
        return 0;
      } else {
        return total.toFixed(2);
      }

    }
  }
}
</script>
<style scoped>
.form {
  float: right;
  margin-left: -1%;
  margin-right: 10%;
  border-left: thin darkblue dashed;
}

li {
  list-style: square;
}

.container {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-align: left;
}
</style>