<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <AppDisplay msg="Welcome to the Crypto-Wallet"/>
  </div>
</template>

<script>
import AppDisplay from "@/components/AppDisplay";

export default {
  name: 'App',
  components: {
    AppDisplay,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.form {
  margin: auto;
  width: 40%;
  display: inline-block;
  text-align: center;
  background-color: lightsteelblue;

}
label, input, select {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 5px;
  transition: ease-in-out background-color 1s;
}

input:hover {
  background-color: lightgreen;
  border: thin darkgreen outset;
}
select:hover {
  background-color: rgba(176, 196, 222,0.5);
  border: thin darkblue outset;
}
</style>
